@using Microsoft.IdentityModel.Tokens
@model IQueryable<MyCourseViewModel>
<table class="table">
    <thead>
    <tr>
        <th>
            Course Icon
        </th>
        <th>
            Course Name
        </th>
        <th>
            Course Price
        </th>
        <th>
            Start In
        </th>
        <th>
            End In
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            @{
                if (item.CourseIconPath.IsNullOrEmpty() == false)
                {
                    <td>
                        <img alt ="courseIcon" src="~/Files/Photos/@item.CourseIconPath" width="80px" height="80px" /> 
                    </td>
                }
                else
                {
                    <td>
                        <img alt ="courseIcon" src="~/Files/Photos/defualtIcon.png" width="80px" height="80px" /> 
                    </td>
                }
            }
            <td>
                    @item.CourseName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoursePrice)
            </td>
            <td>
                @item.StartDate.ToString("dddd, dd MMMM yyyy")
            </td>
            <td>
                @item.EndDate.ToString("dddd, dd MMMM yyyy"))
            </td>
        </tr>
    }
    </tbody>
</table>